div(class='headercss')
	div(class='innerheader')
		a(class='headerlink' href='Home') Home
		a(class='headerlink' href='Ethel') Ethel
		a(class='headerlink' href='/Horld') Horld
		a(class='headerlink' href='/Jim') Jim
		a(class='headerlink' href='/Amritpal') Amritpal