doctype  
html  
	head  
		title  Pug template use include css and header 
		style
			include css/main.css
	body  
		include includes/header.pug
		div(class='fulldiv')
			p(class='headingtext') Welcome To Amritpal Detail page
		div(class='maintextdiv')
			p(class='maintextdivtext') Amritpal is College Student. if i am talk about more its look i am prasing myself but here i am conceder my hoby eating sweets and dancing.