doctype  
html  
	head  
		title  Pug template use include css and header 
		style
			include css/main.css
	body  
		include includes/header.pug
		div(class='fulldiv')
			p(class='headingtext') Welcome To Ethel Detail page
		div(class='maintextdiv')
			p(class='maintextdivtext') Ethel is Computer Engineer. in computer she is very expert in Programing she know nodeJS and pug temlpate.