doctype  
html  
	head  
		title  Pug template use include css and header 
		style
			include css/main.css
	body  
		include includes/header.pug
		div(class='fulldiv')
			p(class='headingtext') Welcome To Horld Detail page
		div(class='maintextdiv')
			p(class='maintextdivtext') Horld is Singer. He Sung many song and relesed all song on you tube in short we can say Horld is Youtuber. he have own good fan folwing and one more talent in Horld he now 5 diffrent languages.