doctype  
html  
	head  
		title  Pug template use include css and header 
		style
			include css/main.css
	body  
		include includes/header.pug
		div(class='fulldiv')
			p(class='headingtext') Welcome To Jim Detail page
		div(class='maintextdiv')
			p(class='maintextdivtext') Jim very lazy person. All time when i am went his home he all time laying on bed and using phone or sleaping or eating lays. one of his good habit which i like he always think positve and wear always smile on face when he talking.